*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.background{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.659),rgba(0, 0, 0, 0.619),rgba(0, 0, 0, 0.128)) , url("image/bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

nav {
    display: flex;
    flex-direction: row;
}


ul{
    display: flex;
    flex-direction: row;
}

.logo h1{
    color: white;
    font-weight: 800;
    margin-left: 40px;
    font-size: 30px;
}
.logo{
    margin-top: 40px;
}

.logo span{
    color: rgb(183, 3, 3);
}
.items {
    margin-left: 140px;
    margin-top: 55px;
}
.items ul li{
    list-style-type: none;
}

.items ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.items ul li a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(183, 3, 3);
}

.btn button{
    border: none;
    padding:10px;
    color: white;
    background-color: rgb(183, 3, 3) ;
    border-radius: 6px;
    font-size: 20px;
    margin-left: 160px;
}
.btn button:hover{
    color: black;
    transition: 0.4s;
}
.btn{
    margin-top: 40px;
}


.content {
    text-align: center;
    margin-top: 160px;
}

.content h1,h4{
    letter-spacing: 2px;
    color: white;
}
.content h1{
    font-size: 40px;
}

.c-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-btn button{
    border: none;
    padding:10px;
    color: white;
    background-color: rgb(183, 3, 3) ;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}


.c-btn button:hover{
    color: black;
    transition: 0.5s;
}